.CharCreate {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

form#charCreateForm {
    position: relative;
    max-width: 70vh;
    background-size: 100% 100%;
    background-image: url(/assets/scrollBackground.jpg);
    height: 100%;
    display: grid;
    grid-template-columns: 15% calc(calc(100% / 3) - 15%) auto auto;
    grid-template-rows: 18% 35% 10% 15% 22.1%;
    color: #1b1b1e;
    text-align: center;
    border-radius: 1rem;
}

.CharCreate form input[type="text"], form input[type="number"] {
    background-color: rgba(109, 103, 110, 0.5);
    border: 1px solid transparent;
    font-family: Tiamat Alt;
    text-align: center;
}

.CharCreate form input[type="text"]:hover, form input[type="number"]:hover {
    border: 1px solid #1b1b1e;
}

.CharCreate li {
    display: flex;
}

.CharCreate ul li input[type="text"] {
    width: 15%;
}

.CharCreate form input[type="text"]:hover {
    cursor: text;
}

#genInfo {
    grid-column: 1 / 6;
    display: flex;
}

#charName {
    width: 39.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#charName input {
    font-size: calc(1rem + 0.3vw);
    width: 80%;
    height: 30%;
}

#raceClass {
    width: 60.7%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

#raceClass > div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#raceClass input {
    font-size: calc(1rem + 0.3vw);
}

#levelContainer {
    width: 40%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#levelContainer input {
    width: 50%;
    margin-left: 5%;
}

#classContainer {
    width: 60%;
    border-bottom: 1px solid black;
}

#classContainer label {
    margin: 0 20%;
}

#classContainer input {
    width: 80%;
}

#alignmentContainer {
    width: 20%;
    border-right: 1px solid black;
}

#raceContainer {
    width: 40%;
    border-right: 1px solid black;
}

#raceContainer label {
    width: 100%;
}

#raceContainer input {
    width: 90%;
}

#genderContainer {
    width: 20%;
    border-right: 1px solid black;
}

#expContainer {
    width: 20%;
}

#expContainer input {
    width: 80%;
}

#main {
    grid-row: 2 / 5;
    grid-column: 2 / 5;
    display: flex;
    flex-wrap: wrap;
}

#stats {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

#stats > div {
    height: calc(100% / 6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#stats label {
    width: 100%;
}

#stats input, #stats .Modifier {
    width: calc(50% - 4px);
    height: 50%;
    font-size: calc(1rem + 0.3vw);
}

#stats .Modifier {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#defense {
    height: 30%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

#defense input {
    font-size: calc(1rem + 0.3vw);
}

#hitPoints, #armorClass, #proficiencyBonus {
    width: calc(100% / 3);
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1% 0;
}

#hitPoints input, #armorClass input, #proficiencyBonus input {
    width: 3vh;
    height: 3vh;
}

#currentHitPoints {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#currentHitPoints input {
    width: 30%;
    height: 70%;
    margin-left: 5%;
}

#passive {
    height: 30%;
    width: 40%;
}

#saves {
    height: 80%;
    padding: 1%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#saves ul {
    margin: 0;
    height: 80%;
    list-style: none;
    padding: 0;
}

#saves li {
    box-sizing: border-box;
    border-bottom: 1px dashed #6d676e;
    height: calc(100% / 6);
}

#saves ul li p {
    margin: 0;
    text-align: left;
}

#saves p {
    margin-top: 2.5%;
    margin-bottom: 5%;
    height: 5%;
}

#passPerc {
    height: 20%;
    display: flex;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#passPercValue {
    width: 20%;
    font-size: calc(1rem + 0.3vw);
}

#skills {
    height: 70%;
    width: 40%;
}

#speed, #initiative {
    display: flex;
    height: 10%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
}

#speed input, #initiative input {
    width: 30%;
    height: 100%;
    font-size: calc(1rem + 0.3vw);
}

#skillsContainer {
    height: 80%;
    padding: 1%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#skillsContainer p {
    height: 5%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#skillsContainer ul {
    height: 90%;
    margin-bottom: 0;
    margin-top: 2.5%;
    list-style: none;
    padding: 0;
}

#skillsContainer li {
    border-top: 1px dashed #6d676e;
    box-sizing: border-box;
    height: calc(100% / 18);
}

#skillsContainer ul li p {
    margin: 0;
    text-align: left;
}

#equipment {
    width: 60%;
    height: 70%;
}

#equipment p {
    margin: 0;
}

#ammo {
    width: 100%;
    height: 19%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#ammo p {
    margin: 0 3% 0 3%;
}

#ammo .AmmoType {
    width: 80%;
    height: 25%;
}

#ammo .AmmoAmount {
    width: 10%;
    height: 25%;
}

#armor, #shield {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#armor input, #shield input {
    font-size: calc(1rem + 0.3vw);
}

#attackHeader {
    height: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 7% 0 1%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.Attack {
    height: 14%;
    display: flex;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.Attack input {
    height: 100%;
}

.Attack .AttackName {
    width: 47%;
}

.Attack .AttackDamage {
    width: 21%;
}

.Attack .AttackDamageType {
    width: 20%;
}

#abilities {
    grid-row: 2 / 3;
    grid-column: 5 / 5;
    padding: 0 1% 1% 1%;
    border-bottom: 1px solid black;
    position: relative;
}

#abilities button {
    position: absolute;
    bottom: 4%;
    left: 7%;
    /* background-color: #96031a; */
    color: #1b1b1e;
    border: 1px solid #1b1b1e;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}

#languages {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    padding: 0 1% 1% 1%;
    border-bottom: 1px solid black;
}

#treasures {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    padding: 0 1% 1% 1%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-right: 1px solid black;
}

#treasures p {
    width: 100%;
}

#treasures input {
    width: 65%;
    margin-left: 10%;
}

.Currency {
    position: absolute;
    left: 0;
    width: 35%;
}

#copperContainer {
    top: 20%;
}

#silverContainer {
    top: 35%;
}

#electrumContainer {
    top: 50%;
}

#goldContainer {
    top: 65%;
}

#platinumContainer {
    top: 80%;
}

#items {
    grid-row: 4 / 6;
    grid-column: 5 / 6;
    padding: 0 1% 1% 1%;
}

#otherEquipment {
    grid-column: 3 / 5;
    padding: 0 1% 1% 1%;
    border-right: 1px solid black;
    position: relative;
}

#otherEquipment button {
    position: absolute;
    top: 4%;
    right: 7%;
    /* background-color: #96031a; */
    color: #1b1b1e;
    border: 1px solid #1b1b1e;
    width: 15%;
    height: 15%;
}

.CharCreate textarea {
    width: 100%;
    height: 80%;
    background: transparent;
    border: none;
    resize: none;
}

#treasures textarea {
    width: 60%;
}

#abilities textarea {
    height: 82%;
}

#items textarea {
    height: 88%;
}

#languages textarea {
    height: 52%;
}

#helpInfo {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, rgba(27, 27, 30, 0.7), rgba(27, 27, 30, 0.7));
    border: 1px solid black;
    border-radius: 1rem;
    margin-right: 1%;
    color: #fbfffe;
    padding: 0 1% 1% 1%;
    font-size: calc(1rem + 0.3vw);
}

.CharCreate h2 {
    text-align: center;
    font-size: calc(1.5rem + 0.6vw);
    text-decoration: underline;
}

.CharCreate input[type="submit"]#doneButton {
    position: absolute;
    bottom: 3%;
    left: -25%;
    padding: 1.5%;
    font-size: calc(1rem + 0.4vw);
    font-family: Tiamat Regular;
    transform: scaleX(1.5);
    background-color: #faa916;
    border: none;
}

.CharCreate input[type="submit"]:hover {
    cursor: pointer;
}

#deleteCharContainer {
    position: absolute;
    top: 0;
    right: -20%;
    display: flex;
    flex-wrap: wrap;
    font-size: calc(1rem + 0.2vw);
    color: #fbfffe;
    border: none;
    /* background-color: rgba(27, 27, 30, 0.7); */
    width: 20%;
    border-radius: 0.5rem;
}

#deleteCharContainer div {
    border: none;
    padding: 0 2% 2% 2%;
    visibility: hidden;
}

#deleteCharContainer div button {
    margin: 0 15% 10% 15%;
}

#charCreateForm input.readOnly:hover {
    border: 1px solid transparent;
    cursor: default;
}

.SpellBook {
    position: absolute;
    top: calc(70% - 45vh);
    right: 0;
    width: 53vh;
    height: 39.09vh;
    /* background-color: red; */
    background-image: url(/assets/book.png);
    background-size: cover;
}