<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Creation</title>
    <link rel="stylesheet" href="/stylesheets/characters/new/style.css">
</head>
<body>
    <div class="wrapper">
        <h1><%= user.name %>'s New Character</h1>
        <form id="create-character-form" action="/api/characters" method="POST">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
            <label for="race">Race: </label>
            <input type="text" name="race" id="race">
            <label for="class">Class: </label>
            <input type="text" name="class" id="class">
    
            <label for="stats">Ability Scores: </label>
            <input type="text" name="stats[]">
            <input type="text" name="stats[]">
            <input type="text" name="stats[]">
            <input type="text" name="stats[]">
            <input type="text" name="stats[]">
            <input type="text" name="stats[]">
    
            <label for="items">Inventory: </label>
            <input type="text" name="items[]">
            <input type="text" name="items[]">
            <input type="text" name="items[]">
    
            <label for="money">Currency: </label>
            <input type="text" name="money[]">
            <input type="text" name="money[]">
            <input type="text" name="money[]">
            <input type="text" name="money[]">
    
            <label for="alignment">Alignment: </label>
            <input type="text" name="alignment" id="alignment">
            <label for="spellSlots">Spell Slots: </label>
            <input type="text" name="spellSlots" id="spellSlots">
    
            <input type="submit" value="Done">
        </form>

    </div>
</body>
</html>