<!DOCTYPE html>
<html>
    <head>
        <title>DnD CC</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Welcome to <%= title %></h1>
        <p>This will be the docs page</p>
        <form id="login-form" action="/api" method="GET">
            <input type="submit" value="Login">
        </form>
        <!-- doc & forms here -->
    </body>
</html>
