
.CharList {
    width: 100%;
    text-align: center;
    height: calc(100% - 5vh);
}

#charactersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    align-content: flex-start;
}

.CharList a.LinkToButton {
    background-color: #faa916;
    font-family: Tiamat Regular;
    color: #1b1b1e;
    padding: 2%;
    font-size: calc(1.3rem + 0.3vw);
}

#charactersList > div {
    background-color: rgba(27, 27, 30, 0.5);
    margin: 3%;
    width: calc(82% / 3);
    height: calc(70% / 2);
    text-align: center;
    padding: 2%;
    font-size: calc(1rem + 0.5vw);
    font-family: Tiamat Alt;
}