.LoginPage form {
    width: 30%;
    font-size: calc(1.3rem + 0.3vw);
    background-color: rgba(27, 27, 30, 0.7);
}

.LoginPage form div {
    border: none;
}

.LoginPage form input {
    background-color: #fbfffe;
    border: none;
}

.LoginPage form label {
    margin-right: 5%;
}

.LoginPage form div div {
    padding: 5%;
    display: flex;
    justify-content: flex-end;
}

.LoginPage header {
    width: 100%;
    text-align: center;
    font-size: calc(1.5rem + 0.5vw);
    margin-bottom: 1vh;
    margin-top: 15vh;
}

.LoginPage .text-center {
    display: flex;
    justify-content: space-evenly;
}